@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Pacifico&display=swap');

:root {
      --main-bg-color: #EBDFD7;
      --main-text-color: #000;
      --transition-3: 0.3s;
      --border: 1px solid #00000091;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Cairo", sans-serif;
}

html {
      background-color: var(--main-bg-color);
}

#root {
      background-color: var(--main-bg-color);
}

a {
      text-decoration: none !important;
}

ul {
      list-style: none;
      margin-bottom: 0 !important;
      padding: 0 !important;
}

.form-control:focus,
      .form-select:focus {
            box-shadow: none !important;
      }